label.heading {
  font-size: 20px;
  display: block;
  margin: 30px 0 0;
}

.validation-message {
  color: $red;
  font-size: 18px;
}

input[type=text] {
  font-size: 16px;
  padding: 10px;
  margin: 10px 1px;
  border: 1px solid $black;
  box-shadow: 3px 3px 6px transparentize($color: $black, $amount: 0.75);
  border-radius:10px;
  width:100%;
  background-color: $white;

  @media (min-width: 800px) {
    width: 40%;

    // center an inline element without affecting parent
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

input[type=text]:focus {
  border: 2px solid $blue;
  margin: 9px 0;
}

button {
  /* remove default behavior */
  appearance:none;
  all: revert;
}

.button {
  padding: 10px;
  border: 1px solid $black;
  border-radius: 10px;
  box-shadow: 3px 3px 6px transparentize($color: $black, $amount: 0.5);

  font-size: 20px;
  overflow: visible;
  margin: 0;

  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  margin: 10px 0;
  cursor: pointer;
}

.button:hover {
  filter: brightness(85%);
}

.button:active {
  box-shadow: 3px 3px 6px transparentize($color: $black, $amount: 0.75);
  transform: translateY(2px);
}

.button:focus-visible {
  border: 2px solid $blue;
  margin: 9px 0;
}

.button {
  width: 100%;
  background-color: $teal;
  color: $white;
  // required for older safari
  -webkit-text-fill-color: $white;

  @media (min-width: 800px) {
    width: 25%;
    float: right;
    clear: both;
  }
}

input[type=text].read-only-field {
  // cursors can still select, but looks disabled
  cursor: default;
  color: transparent;
  text-shadow: 0px 0px 0px $blue;

  background-color: transparent;
  box-shadow: none;

  border: 0px solid $black;
  border-bottom: 1px solid $black;
  border-radius:0;

  text-align: center;
  font-weight: bold;

  &:focus {
    border: 0px solid $black;
    border-bottom: 1px solid $black;
    margin: 10px 1px;
  }
}

.rmdp-wrapper {
  margin: 10px auto;
}
