
#paint-pots-frame {
  width: 100%
}

#help-text {
  fill: $dark-grey;
  font-family: $main-font;
  font-size: 18px;
  text-align: right;
  color: $dark-grey;
  line-height: 1.5;

  & p {
    height: 100px;
    display: none;
    opacity: 0;

    &.active {
      display: table-cell;
      vertical-align: bottom;
      animation: fadeIn 0.5s linear forwards;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#pathways path {
  stroke: $dark-grey;
  stroke-width: 3;
  visibility: hidden;
  opacity: 0%;

  &.active {
    visibility: visible;
    animation: pathFade 750ms linear forwards;
  }
}

@keyframes pathFade {
  100% {
    opacity: 100%;
  }
}

#paint-pots circle {
  stroke: $dark-grey;
  stroke-width: 5;

  &#circle-0pc { fill: $red; }
  &#circle-30pc { fill: $orange; }
  &#circle-70pc { fill: $yellow; }
  &#circle-90pc { fill: $green; }

  &:hover {
    filter: brightness(85%);
  }

  &:active {
    transform: translateY(1px);
  }

  &:focus-visible {
    border: 2px solid $blue;
    margin: 9px 0;
  }
}

#text-inter-bold text{
  font-family: $stylised-font;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0em;
  white-space: pre;

  fill: $black;
  pointer-events: none;
}

#paintbrush #handle {
  fill: $black;
  stroke: $black;
}

#paintbrush #paintbrush-bristles {
  fill: $dark-grey;
  stroke: $black;

  &.paintbrush-0pc { fill: $red; }
  &.paintbrush-30pc { fill: $orange; }
  &.paintbrush-70pc { fill: $yellow; }
  &.paintbrush-90pc { fill: $green; }
}

#paint-pots.reminder-flash circle {
  stroke: $red;
}
