// adapted from react-multi-date-picker/styles/colors/teal.css

// added my own colours
:root {
  --rmdp-primary-teal: #{$teal};
  --rmdp-secondary-teal: #{lighten($teal, 5)};
  --rmdp-shadow-teal: #{lighten($teal, 10)};
  --rmdp-today-contrast: #9d4a35;//#{darken($yellow, 5)};
  --rmdp-hover-teal: #{darken($teal, 15)};
  --rmdp-deselect-teal: #{darken($teal, 10)};
}

// I modified the date circle colours to remove hover effect issue on mobile devices.
// invovled a lot of undoing css and redoing. marked below.

// modified for hover effect ---
.rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span:hover {
  background-color: revert;
  color: revert;
}
.rmdp-arrow-container:hover {
  background-color: revert;
  box-shadow: revert;
}
.rmdp-arrow-container:hover .rmdp-arrow {
  border: revert;
}
// ---

.teal .rmdp-wrapper {
  border: 1px solid var(--rmdp-secondary-teal);
  box-shadow: 0 0 5px var(--rmdp-secondary-teal);
}

.teal .rmdp-panel-body li {
  background-color: var(--rmdp-primary-teal);
  box-shadow: 0 0 2px var(--rmdp-secondary-teal);
}

.teal .rmdp-week-day {
  color: var(--rmdp-primary-teal);
}

.teal .rmdp-day.rmdp-deactive {
  color: var(--rmdp-secondary-teal);
}

.teal .rmdp-range {
  background-color: var(--rmdp-primary-teal);
  box-shadow: 0 0 3px var(--rmdp-shadow-teal);
}

// modified for hover effect
.teal .rmdp-arrow,
.teal .rmdp-arrow-container:hover .rmdp-arrow {
  border: solid var(--rmdp-primary-teal);
  border-width: 0 2px 2px 0;
}

// modified for hover effect
@media (hover: hover) {
  .teal .rmdp-arrow-container:hover {
    background-color: var(--rmdp-primary-teal);
    box-shadow: 0 0 3px var(--rmdp-secondary-teal);
  }
  .teal .rmdp-arrow-container:hover .rmdp-arrow {
    border-color: white;
  }
}

.teal .rmdp-panel-body::-webkit-scrollbar-thumb {
  background: var(--rmdp-primary-teal);
}

// modified for hover effect
.teal .rmdp-day.rmdp-today span,
.rmdp-day.rmdp-today:not(.rmdp-disabled):not(.rmdp-day-hidden) span:hover {
  background-color: var(--rmdp-today-contrast);
  color: white;
}

// modified for hover effect
.rmdp-day.rmdp-today.rmdp-selected:not(.rmdp-disabled):not(.rmdp-day-hidden) span,
.rmdp-day.rmdp-today.rmdp-selected:not(.rmdp-disabled):not(.rmdp-day-hidden) span:hover {
  background-color: var(--rmdp-primary-teal);
  color: white;
  border: 2px solid var(--rmdp-today-contrast);
}

.teal .rmdp-rtl .rmdp-panel {
  border-left: unset;
  border-right: 1px solid var(--rmdp-secondary-teal);
}

// modified for hover effect
.teal .rmdp-day.rmdp-selected span:not(.highlight) {
  background-color: var(--rmdp-primary-teal);
  box-shadow: 0 0 3px var(--rmdp-shadow-teal);
  color: white;
}

// modified for hover effect
@media (hover: hover) {
  .teal .rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span:hover {
    background-color: var(--rmdp-hover-teal) !important;
  }
}

.teal .b-deselect {
  color: var(--rmdp-deselect-teal);
  background-color: white;
}

.teal .rmdp-action-button {
  color: var(--rmdp-primary-teal);
}

.teal .rmdp-button:not(.rmdp-action-button) {
  background-color: var(--rmdp-primary-teal);
}


// modified for hover effect
@media (hover: hover) {
  .teal .rmdp-button:not(.rmdp-action-button):hover {
    background-color: var(--rmdp-deselect-teal);
  }
}

// additions

.rmdp-header-values {
  font-weight: bold;
  font-size: 16px;
  color: var(--rmdp-primary-teal);
}
@media (hover: hover) {
  .rmdp-header-values span:hover {
    color: var(--rmdp-hover-teal);
  }
}

.rmdp-arrow {
  margin-left: 2px;
  margin-top: 6px;
}
