
:root {
  --swatchCardScale: 1;
}

// The Swatch Cards and the scrollable area around them
.scrollable-area {
  overflow-y: hidden;
  overflow-x: auto;
  margin: 0 -16px;
}

// the resultsTab cards are positioned with absolute so to overlap
// so need to create height somehow for the containing area.
.extraSpacingDiv {
  display: block;
  visibility: hidden;
}

.scrollable-area {
  position: relative;
}

.swatch-card::after {
  content: '';
  position: absolute;
  left: 100%;
  width: 16px;
  height: 10px;
  margin: 0;
}

.swatch-card {
  background-color: $white;
  box-shadow: 3px 3px 6px transparentize($color: $black, $amount: 0.25);

  position: relative;
  width: fit-content;

  //grid layout
  display: grid;
  grid-auto-flow: column;
}

.resultsTab .swatch-card {
  position: absolute;
}

.signature-area {
  text-align: center;
}

.signature {
  transform: rotate(-15deg);
  font-family: $signature-font;
  overflow-wrap: break-word;
}

.swatch-area {
  // just sizing
}

.swatch {
  transition: background-color 0.5s ease;
  overflow: hidden;
}

.day,.date {
  font-family: $stylised-font;
  font-weight: bold;
}

// swatch buttons
button.swatch {
  cursor: pointer;
}

.swatch-colour-0pc { background-color: $red; }
.swatch-colour-30pc { background-color: $orange; }
.swatch-colour-70pc { background-color: $yellow; }
.swatch-colour-90pc { background-color: $green; }

.button-droplet-0pc,
.button-droplet-30pc,
.button-droplet-70pc,
.button-droplet-90pc {
  display: block;
  border-radius: 50%;

  transform: scale(0);
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-direction: forwards;
}

@mixin ripple() {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(4);
  }
 }

// unique keyframe animations so they can be replayed.
@keyframes ripple-0pc { @include ripple(); }
@keyframes ripple-30pc { @include ripple(); }
@keyframes ripple-70pc { @include ripple(); }
@keyframes ripple-90pc { @include ripple(); }

.button-droplet-0pc {
  animation-name: ripple-0pc;
  background-color: $red;
}

.button-droplet-30pc {
  animation-name: ripple-30pc;
  background-color: $orange;
}

.button-droplet-70pc {
  animation-name: ripple-70pc;
  background-color: $yellow;
}

.button-droplet-90pc {
  animation-name: ripple-90pc;
  background-color: $green;
}


//----------------------------------------------------------------

// swatch card sizing only, so they can be scaled.
.formTab {
  --swatchCardScale: 1;
}
.resultsTab {
  --swatchCardScale: 0.6;
}

@media (min-width: 800px) {
  .resultsTab {
    --swatchCardScale: 0.8;
  }
}
@media (min-width: 1280px) {
  .formTab {
    --swatchCardScale: 1.4;
  }
  .resultsTab {
    --swatchCardScale: 1;
  }
}

.extraSpacingDiv {
  height: calc(var(--swatchCardScale) * 110px);
}

.formTab .scrollable-area {
  padding: calc(var(--swatchCardScale) * 20px) 0;
}

.resultsTab .scrollable-area {
  padding: 0 0 calc(var(--swatchCardScale) * 75px);
}

.swatch-card {
  height: calc(var(--swatchCardScale) * 165px);
  margin: 0 calc(var(--swatchCardScale) * 16px);
  padding: calc(var(--swatchCardScale) * 20px) calc(var(--swatchCardScale) * 16px);
}

.resultsTab .swatch-card {
  top: calc(var(--cardorder) * calc(var(--swatchCardScale) * 110px));
  left: calc(var(--cardorder) * calc(var(--swatchCardScale) * 12px));
}

.signature-area {
  width: calc(var(--swatchCardScale) * 135px);
}

.signature {
  font-size: calc(var(--swatchCardScale) * 20px);
  margin:  calc(var(--swatchCardScale) * 20px) 0;
}

.swatch-area {
  width: calc(var(--swatchCardScale) * 130px);
  padding: 0 calc(var(--swatchCardScale) * 25px);
}

.swatch {
  width: calc(var(--swatchCardScale) * 80px);
  height: calc(var(--swatchCardScale) * 80px);
  margin: 0 auto  calc(var(--swatchCardScale) * 10px);

  border: calc(var(--swatchCardScale) * 3px) solid $black;
}

.day {
  margin: 0 0 calc(var(--swatchCardScale) * 3px);
  font-size: calc(var(--swatchCardScale) * 16px);
}

.date {
  font-size: calc(var(--swatchCardScale) * 14px);
  margin-right: -20px;
}

// swatch buttons sizing
.button-droplet-0pc,
.button-droplet-30pc,
.button-droplet-70pc,
.button-droplet-90pc {
  margin-left: calc(var(--swatchCardScale) * 6.5px);
  height: calc(var(--swatchCardScale) * 50px);
  width: calc(var(--swatchCardScale) * 50px);
}
