
@import "reset";

// import webfonts
@import url('http://fonts.cdnfonts.com/css/reem-kufi');
@import url('http://fonts.cdnfonts.com/css/inter');
@import url('http://fonts.cdnfonts.com/css/pacifico');

// colour scheme
// https://lospec.com/palette-list/sweetie-16
$black: #1a1c2c;
$white: #f4f4f4;
$green: #a7f070;
$yellow: #ffcd75;
$orange: #ef7d57;
$red: #b13e53;
$blue: #29366f;

$teal: #359D85; // changed from #257179;

$logo-color: $white;
$grey: darken($white, 5);
$dark-grey: #757575;

// fonts
$main-font: "Reem Kufi", sans-serif;
$stylised-font: Inter, sans-serif;
$signature-font: Pacifico, sans-serif;

body {
  line-height: 1;
  color: $black;
  background: $grey;
  font-family: $main-font;
}

.header {
  background-color: $teal;
  height: 100px;
  width: 100%;
  clip-path: polygon(0% 0%,100% 0%,100% 100%,75% 85%,0% 100%);
}

.header::after {
  box-shadow: 3px 3px 6px transparentize($color: $black, $amount: 0.75);
}

.footer {
  background-color: $teal;
  height: 50px;
  width: 100%;
}

h2 {
  font-size: 26px;
}

label {
  font-size: 20px;
  display: block;
  margin: 30px 0 0;
}

.heading {
  font-family: $main-font;
}

.validation-message {
  color: $red;
  font-size: 18px;
}

.title {
  margin: 35px 0 5px;text-align: center;
}

.logo {
  margin: 20px 15px;
  height: 53px;

  .logo-parts-1 {
    fill: $logo-color;
    stroke: $logo-color;
  }

  .logo-parts-2 {
    fill: $logo-color;
  }
}

.container {
  padding: 0 16px;
  margin: 0 0 100px 0;
}

// forms
*, *:before, *:after {
  box-sizing: border-box;
}

input[type=text] {
  padding: 10px;
  margin: 10px 1px;
  border: 1px solid $black;
  box-shadow: 3px 3px 6px transparentize($color: $black, $amount: 0.75);
  border-radius:10px;
  width:100%;
  background-color: $white;
}

input[type=text]:focus {
  border: 2px solid $blue;
  margin: 9px 0;
}

button {
  /* remove default behavior */
  appearance:none;
  -webkit-appearance:none;
  all: revert;
}

.button {
  padding: 10px;
  border: 1px solid $black;
  border-radius: 10px;
  box-shadow: 3px 3px 6px transparentize($color: $black, $amount: 0.5);

  font-size: 20px;
  overflow: visible;
  margin: 0;

  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  margin: 10px 0;
  cursor: pointer;
}

.button:hover {
  filter: brightness(85%);
}

.button:active {
  box-shadow: 3px 3px 6px transparentize($color: $black, $amount: 0.75);
  transform: translateY(2px);
}

.button:focus-visible {
  border: 2px solid $blue;
  margin: 9px 0;
}

.button {
  width: 100%;
  background-color: $teal;
  color: $white;

  @media (min-width: 800px) {
    width: 200px;
    float: right;
    clear: both;
  }
}

.scrollable-area {
  overflow-y: hidden;
  overflow-x: auto;
  margin: 0 -16px;
}

.formTab .scrollable-area {
  padding: 20px 0;
  display: flex;
}

.resultsTab .scrollable-area {
  position: relative;
  padding: 0 0 75px;
}

.swatch-card {
  display:inline-block;
  background-color: $white;
  border: 1px $black;
  box-shadow: 3px 3px 6px transparentize($color: $black, $amount: 0.25);

  height: 165px;
  width: fit-content;
  margin: 0 16px;
  padding: 20px 16px;

  //grid layout
  display: grid;
  grid-auto-flow: column;
}

.resultsTab .swatch-card {
  position: absolute;
  top: calc(var(--cardorder) * 110px);
  left: calc(var(--cardorder) * 12px);
}

// the cards are positioned with absolute so to overlap. so need to create height somehow for the containing area.
.extraSpacingDiv {
  display: block;
  visibility: hidden;
  height: 110px;
}

.signature-area {
  width: 135px;
  text-align: center;
}

.signature {
  transform: rotate(-15deg);
  font-size: 20px;
  font-family: $signature-font;
  margin: 20px 0;
  overflow-wrap: break-word;
}

.swatch-area {
  width: 130px;
  padding: 0 25px;
}

.swatch {
  border: 3px solid $black;
  margin: 0 auto 10px;
  width: 80px;
  height: 80px;

  transition: all 0.5s ease;
  overflow: hidden;
}

button.swatch {
  cursor: pointer;
}

.swatch-colour-0pc { background-color: $red; }
.swatch-colour-30pc { background-color: $orange; }
.swatch-colour-70pc { background-color: $yellow; }
.swatch-colour-90pc { background-color: $green; }

.button-droplet-0pc,
.button-droplet-30pc,
.button-droplet-70pc,
.button-droplet-90pc {
  margin-left: 6px;
  height: 50px;
  width: 50px;
  display: block;
  border-radius: 50%;

  transform: scale(0);
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-direction: forwards;
}

@mixin ripple() {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(4);
  }
 }

// unique keyframe animations so they can be replayed.
@keyframes ripple-0pc { @include ripple(); }
@keyframes ripple-30pc { @include ripple(); }
@keyframes ripple-70pc { @include ripple(); }
@keyframes ripple-90pc { @include ripple(); }

.button-droplet-0pc {
  animation-name: ripple-0pc;
  background-color: $red;
}

.button-droplet-30pc {
  animation-name: ripple-30pc;
  background-color: $orange;
}

.button-droplet-70pc {
  animation-name: ripple-70pc;
  background-color: $yellow;
}

.button-droplet-90pc {
  animation-name: ripple-90pc;
  background-color: $green;
}

.day {
  margin: 0 0 3px;

  font-family: $stylised-font;
  font-size: 16px;
  font-weight: bolder;
}

.date {
  font-family: $stylised-font;
  font-size: 14px;
  font-weight: bold;
}

//----------------------------

#paint-pots-frame {
  width: 100%
}



#help-text {
  fill: $dark-grey;
  font-family: $main-font;
  font-size: 18px;
  text-align: right;
  color: $dark-grey;
  line-height: 1.5;

  & p {
    height: 100px;
    display: none;
    opacity: 0;

    &.active {
      display: table-cell;
      vertical-align: bottom;
      animation: fadeIn 0.5s linear forwards;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#pathways path{
  stroke: $dark-grey;
  stroke-width: 3;
  visibility: hidden;
  opacity: 0%;

  &.active {
    visibility: visible;
    animation: pathFade 750ms linear forwards;
  }
}

@keyframes pathFade {
  100% {
    opacity: 100%;
  }
}

#paint-pots circle {
  stroke: $dark-grey;
  stroke-width: 5;

  &#circle-0pc { fill: $red; }
  &#circle-30pc { fill: $orange; }
  &#circle-70pc { fill: $yellow; }
  &#circle-90pc { fill: $green; }

  &:hover {
    filter: brightness(85%);
  }

  &:active {
    transform: translateY(1px);
  }

  &:focus-visible {
    border: 2px solid $blue;
    margin: 9px 0;
  }
}

#text-inter-bold text{
  font-family: $stylised-font;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0em;
  white-space: pre;

  fill: $black;
  pointer-events: none;
}

#paintbrush #handle {
  fill: $black;
  stroke: $black;
}

#paintbrush #paintbrush-bristles {
  fill: $dark-grey;
  stroke: $black;

  &.paintbrush-0pc { fill: $red; }
  &.paintbrush-30pc { fill: $orange; }
  &.paintbrush-70pc { fill: $yellow; }
  &.paintbrush-90pc { fill: $green; }
}


#paint-pots.reminder-flash circle {
  stroke: $blue;
}



// -------------
.formTab {
  /* Hide the element content, while height = 0 */
  overflow: hidden;
  height: 0;
  opacity: 0;

  transform: translateX(-150%);
  transition: height 0s 4s, transform 4s 0ms;
}
.formTab.showForm {
  overflow: visible;
  height: auto; opacity: 1;
  transition: height 0s 0s, transform 600ms 0ms;
  transform: translateX(0);
}

.resultsTab {
  overflow: hidden;
  height: 0;
  opacity: 0;

  transform: translateX(150%);
  transition: height 0s 4s, transform 4s 0ms;
}
.resultsTab.showResults {
  overflow: visible;
  height: auto; opacity: 1;
  transition: height 0s 0s, transform 600ms 0ms;
  transform: translateX(0);
}

.tab {
  display: flex;
  overflow: hidden;
  margin: 20px -16px;
  padding: 0 0 10px 0;
}

.tab-right {
  justify-content: flex-end;
}
.tab-left {
  justify-content: flex-start;
}

.tab-link {
  margin: 0 -10px;
  border-radius:5px;
  padding: 10px 20px;
  background-color: $teal;
  color: $white;
  text-decoration: none;
  box-shadow: 3px 3px 6px transparentize($color: $black, $amount: 0.5);
}


.tab-link:hover {
  filter: brightness(85%);
}

.tab-link:active {
  box-shadow: 3px 3px 6px transparentize($color: $black, $amount: 0.75);
  transform: translateY(2px);
}
